fastapi
firebase-admin
pydantic-settings
pyjwt
pydantic
bcrypt==4.0.1
passlib[bcrypt]
email-validator
http3

transformers
addict
yapf
timm
numpy==1.26.3
matplotlib
onnx
onnxruntime
opencv-python
scikit-image
supervision
pycocotools
wheel
setuptools
pandas
rq
black
clip
